@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
  --header-height: 10vh;
  --h2-size: clamp(2rem, 4rem, 5rem);
  --h3-size: clamp(1rem, 1.7rem, 5rem);
  --p-size: clamp(1rem, 1.3vw, 1.5rem);
}

html,
body,
#app {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
