:root {
  --green: #8d9b86;
  --dark_pink: #660033;
  --bright_pink: #c98da3;
}

.header {
  border-radius: 15px;
  margin: 0 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.8rem, 1.5vw, 1.25rem) clamp(1.5rem, 5vw, 5rem);
  background-color: var(--bright_pink);
  height: var(--header-height);
  box-shadow: 0px 4px 10px rgba(30, 30, 30, 0.1);
}

.header-brand {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 3vw, 2.5rem);
}

.logo {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  text-decoration: none;
  color: var(--dark_pink);
  font-size: clamp(1vw, 1.3vw, 2vw);
  font-weight: 600;
  line-height: 1;
  transition: opacity 0.2s ease;
}

.logo:hover {
  opacity: 0.65;
}

.instagram-link {
  display: flex;
  align-items: center;
  color: var(--dark_pink);
  font-size: clamp(1.5vw, 3vw, 3.5vw);
  line-height: 1;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.instagram-link:hover {
  opacity: 0.65;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: clamp(1.5rem, 3vw, 3rem);
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark_pink);
  font-size: clamp(1vw, 1.3vw, 2vw);
  font-weight: 600;
  line-height: 1;
  transition: opacity 0.2s ease;
}

.navigation-list a:hover {
  opacity: 0.65;
}
