@import "global.css";

:root{
    --bright_pink: #c98da3;
    --dark_pink: #660033;
    --light: #f5e3e6;
    --light_green: #8d9b86;
}

html,
body,
#app {
  background-color: var(--light);
}

.name {
    margin: 5vh;
    border-radius: 15px;
    background-color: var(--bright_pink);
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.name-container {
    text-align: right;
    text-transform: uppercase;
    padding-top: clamp(2rem, 5rem, 7rem);
    padding-right: clamp(2rem, 5rem, 7rem);
    padding-bottom: clamp(2rem, 5rem, 7rem);
    line-height: 0.9;
}

p{
    margin: 0;
}

.corner {
    font-size: clamp(2vw, 10vw, 13rem);
    font-weight: bold;
    color: var(--light);
}

.eng {
    font-size: clamp(2vw, 10vw, 13vw);
    font-weight: bold;
    color: var(--light);    
}

.subtitle {
    font-family: "Just Breathe", sans-serif;
    font-size: clamp(1vw, 1.8vw, 7vw);
    font-weight: 400;
    color: var(--light);
    text-align: right;
}

.whats-cornereng{
    margin: 0 5vh;
    margin-top: 1vh;
    border-radius: 15px;
    background-color: var(--light);
    display: flex;
    min-height: calc(100vh - var(--header_height));
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.whats-cornereng-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.whats-cornereng-image img {
    width: clamp(300px, 38vw,650px);
    height: auto;
    display: block;
    background-color: transparent;
}

.whats-cornereng-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(2rem, 5vw, 7rem);
    padding-top: 0;
    box-sizing: border-box;
    color: var(--dark_pink);
}

.whats-cornereng-text p {
    margin-top: -10px;
}

.whats-cornereng-text-header {
    text-align: right;
    font-size: var(--h2_size);
    line-height: 1;
}

.whats-cornereng-text-body {
    margin: 0;
    text-align: right;
    font-size: var(--p_size);
    line-height: 1.5;
}

.about-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark_pink);
    font-weight: bold;
    transition: opacity 0.2s ease;
}

.about-link:hover {
  opacity: 0.65;
}

.whats-to-find {
    margin: 5vh;
    border-radius: 15px;
    background-color: var(--bright_pink);
    min-height: calc(100vh - var(--header_height));
    display: flex;
    flex-direction: column;
    padding: clamp(2rem, 4vw, 5rem);
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.whats-to-find-header {
    color: var(--light);
    display: flex;
    box-sizing: border-box;
}

.whats-to-find-header h2 {
    margin-top: -10px;
    margin-bottom: 38px;
    text-align: left;
    font-size: var(--h2_size);
}

.whats-to-find-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1rem, 2vw, 3rem);
    align-items: center;
}

.whats-to-find-grid-card{
    background-color: var(--light);
    color: var(--dark_pink);
    border-radius: 15px;

    min-height: clamp(10rem, 28rem, 55rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.whats-to-find-grid-card h3 {
    margin: 0;
    padding: clamp(10px, 25px, 25px) clamp(15px, 21px, 35px);
    display: flex;
    justify-content: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--h3_size);
}

.whats-to-find-grid-card p {
    padding: clamp(10px, 25px, 25px) clamp(15px, 21px, 35px);
    font-size: var(--p_size);
    line-height: 1.5;
}