@import "global.css";

:root {
    --light: #f5e3e6;
    --dark_pink: #660033;
}

.offer {
    height: clamp(40vh, 105vh, 115vh);
    padding-top: calc(var(--header-height));
    padding-left: clamp(2rem, 3rem, 4rem);
    color: var(--light);
}

.offer-header {
    display: flex;
    align-items: center;
}

.offer-header h2 {
    margin-bottom: 5vh;
    font-size: var(--h2-size);
    font-weight: bold;
    color: var(--dark_pink);
}

.offer-list {
    display: flex;
    flex-direction: column;
}

.offer-list-item {
    color: var(--dark_pink);
    margin-bottom: 20px;
}

.offer-list-item h3 {
    font-size: var(--h3-size);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
    margin: 10px 0px;
}

.offer-list-item p{
    font-size: var(--p-size);
}